@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #323232;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    >*{
        margin: 10px 0;
    }
    >input,form>label>input{
        margin-left: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
}
header{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: x-large;
    padding: 25px;
    margin-bottom: 10px;
    background-color: #222;
    
}
.filesList{
    display: flex;
    flex-direction: column;
    align-items: center;

    >div{
        padding: 10px;
        margin-bottom: 20px;
        background-color: #444;
        width: 50%;
        border: solid;
        border-width: 2px;
        border-radius: 6px;
        border-color: #444;
    }
}
.filesList{
    >div:hover{
        border-color: rgb(77, 77, 77);
    }
    h3{
        padding-bottom: 10px;
    }
    a{
        margin-right: 10px;
    }
}
.mouseFolower{
    position: fixed;
    .scale{
        position: fixed;
        border-radius: 40px;
        background-color: white;
        border: none;
        pointer-events: none
    }
}
.StorageWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    .File{
        margin: 5px;
        margin-bottom: 45px;
        width: 100px;
        height: 100px;
        .title{
            text-align: center;
            margin-top: 5px;
            font-size: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
        .icon{
            width: 100%;
            height: 100%;
        }
        svg{
            width: 100%;
            height: 100%;
            border: solid;
            background-color: #636363;
            border-radius: 10px;
            border-color: #4d4d4d;
            transition: border-color 200ms;
        }
        :hover{
            svg{
                border-color: #3b3b3b;
                cursor: pointer;
            }
        }
    }
    .UpToDirectory{
        margin: 5px;
        width: 100px;
        height: 100px;
        transform: rotate(90deg);
        .icon{
            width: 100%;
            height: 100%;
        }
        svg{
            width: 100%;
            height: 100%;
            border: solid;
            background-color: #636363;
            border-radius: 10px;
            border-color: #4d4d4d;
            transition: border-color 200ms;
        }
        :hover{
            svg{
                border-color: #3b3b3b;
                cursor: pointer;
            }
        }
    }
    .uploadFile-createFolder{
        >div{
            margin: 5px;
            width: 100px;
            height: 45px;
            border: solid;
        }
    }
}

.tooltip{
    font-size: small;
    position: absolute;
    z-index: 1;
    pointer-events:none;
    background-color: rgba(20, 20, 20, 0.9);
    color: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 4px;
    min-width: 100px;
    text-align: center;
   
    
}

.asd{
    height: 1000px;
    width: 1000px;
    background-color: white;
}