@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #333;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
form>*{
    margin: 10px 0;
}
form>input,form>label>input{
    margin-left: 10px;
}
header{
    font-weight: 600;
    font-size: x-large;
    padding: 25px;
    margin-bottom: 10px;
    background-color: #222;
}
.filesList{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filesList>div{
    padding: 10px;
    margin-bottom: 20px;
    background-color: #444;
    width: 50%;
    border: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #444;
}
.filesList>div:hover{
    border-color: rgb(77, 77, 77);
}
.filesList h3{
    padding-bottom: 10px;
}
.filesList a{
    margin-right: 10px;
}